.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100vh;
  padding: 50px 0 50px;
}

.cards{
  margin: 0 auto;
  padding: 100px 0 50px;
  max-width: 460px;
}

.cards-top, .cards-bottom {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.cards-top {
  margin-bottom: 30px;
}


.cards-bottom .card {
  background: grey!important;
}

.popup-content{
  background: #2b9595;
  border: 0;
  border-radius: 5px;
  color: white;
  width: 250px;
  height: 25px;
  text-align: center;
  padding: 20px;
}

.popup-content .close{
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 24px;
}

.change-btn{
  padding: 8px 20px;
  background: transparent;
  border: 2px solid #2b9595;
  border-radius: 4px;
  color: white;
}
@media screen and (max-width: 518px){
  .cards{
    max-width: 320px;
  }

  .cards-top, .cards-bottom {
    grid-gap: 7px;
  }
}
